.idea
cover.out
bin/
testbin/
bundle/

# This is to remediate SCA findings wrt downloads from dockerfiles present in go vendor tree
vendor/**/Dockerfile

# Gas Town (added by gt)
.runtime/
.claude/commands/
.logs/
